.main {
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  margin-bottom: 2.5rem;
}

.showme {
  margin-top: 2rem;
}

.buffer {
  margin-top: 2rem;
}

.karinContainer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

@media screen and (max-width: 720px) {
  .pic {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    text-align: center;
  }
}
